<h3>Add a new Customer</h3>

<form class="ui form">
    <div class="field">
      <label>First Name</label>
      <input type="text" placeholder="First Name" formControlName="firstName" #firstName>
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text"  placeholder="Last Name" formControlName="lastName" #lastName>
    </div>

    <div class="field">
        <label>Birthday</label>
        <input type="text" placeholder="Birthday" formControlName="birthDay" #birthDay>
      </div>

      <div class="field">
        <label>Gender</label>
        <select  class="ui fluid dropdown" formControlName="gender" #gender>
            <option value="m">Man</option>
            <option value="w">Woman</option>
        </select>
      </div>

      <div class="field">
        <label>Customer Lifetime Value</label>
        <input type="text" placeholder="Customer Lifetime Value" formControlName="customerLifetimeValue" #customerLifetimeValue>
      </div>

    
      <div class="ui buttons right floated">
        <button class="ui button">Reset</button>
        <div class="or"></div>
        <a class="ui positive button" (click)="clickMe(firstName.value, lastName.value, birthDay.value, gender.value, customerLifetimeValue.value)">Save</a>
      </div>
  </form>