<!--The content below is only a placeholder and can be replaced.-->
<div class="ui horizontal divider">
    Welcome to CRM App
</div>
<div class="ui container">
    <div class="ui menu grey inverted">
        <div class="header item">
            CRM APP
        </div>
        <a class="item" routerLink="">
            <i class="home icon"></i>Home
        </a>
        <a class="item" routerLinkActive="active" routerLink="/create">
            <i class="user plus icon"></i> Add Customer
        </a>
        <a class="item" routerLinkActive="active" routerLink="/show">
            <i class="users icon"></i>List Customers
        </a>
        <a class="item" routerLinkActive="active" routerLink="/update">
            <i class="trash edit outline icon"></i>Update Customers
        </a>
    </div>
    <router-outlet></router-outlet>
</div>